*{
	-black-1: #000000;
	-black-2: #222222;
	-black-3: #222831;
	-black-4: #393E46;
	-black-5: #434242;
	-white-1: #FFFFFF;
	-white-2: #F4F4F4;
	-white-3: #F4F6FF;
	-white-4: #BBBFCA;
	-red-1: #FF1E00;
	-green-1: #ADE792;
}

.label, .button, .radio-button{
	-fx-font-size: 16;
	-fx-font-weight: 700;
	-fx-text-fill: -white-1;
}

.label{
	-fx-font-size: 14;
}

.button{
	-fx-background-color: -black-4;
	-fx-background-radius: 5;
	-fx-background-insets: none;
	-fx-font-size: 12;
	-fx-pref-width: 100;
	-fx-pref-height: 40;
	-fx-border-width: 1;
	-fx-border-color: -black-2;
	-fx-border-radius: 5;
}

.button:hover{
	-fx-background-color: -black-3;
	-fx-effect: dropshadow(one-pass-box, -black-2, 5, 0, 0, 0);
}

.text-field{
	-fx-background-color: -white-2;
	-fx-background-radius: 1;
	-fx-border-width: 1;
	-fx-border-color: -white-3;
	-fx-border-radius: 1;
	-fx-padding: 0;
	-fx-text-fill: -black-1;
	-fx-font-size: 14;
	-fx-font-weight: 500;
}

.hyperlink{
	-fx-font-size: 16;
	-fx-font-weight: 500;
}

.table-view{
	-fx-background-color: -black-5;
}

.table-view .column-header{
	-fx-background-color: -black-3;
	-fx-border-width: 1;
	-fx-border-color: -white-2;
	-fx-pref-height: 40;
}

.table-view .filler{
	-fx-background-color: -black-4;
}

.table-view .column-header .arrow{
	-fx-background-color: -white-1;
}

.table-view .table-cell{
	-fx-text-fill: -white-1;
	-fx-font-size: 14;
	-fx-font-weight: 500;
	-fx-padding: 0 5;
	-fx-border-width: 1;
	-fx-border-color: -white-2;
}

.table-row-cell:odd{
	-fx-background-color: -black-5;
}

.table-row-cell:even{
	-fx-background-color: -black-4;
}

.table-row-cell:selected .table-cell,
.table-row-cell:hover .table-cell{
	-fx-text-fill: -black-1;
	-fx-border-color: -black-2;
}

.table-row-cell:hover{
	-fx-background-color: -white-4;
}

.table-row-cell:selected{
	-fx-background-color: -white-3;
}

.table-cell:hover{
	-fx-background-color: -white-1;
}

.table-row-cell:empty,
.table-row-cell:empty .table-cell,
.table-row-cell:empty  .table-cell:hover{
	-fx-background-color: -black-5; 
	-fx-border-color: -black-5;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color:  -white-3;
}

.dialog-pane, .dialog-pane:header .header-panel{
	-fx-background-color: -black-5;
}

.dialog-pane:header .header-panel{
	-fx-border-width: 0 0 1 0;
	-fx-border-color: -white-2;
}

.dialog-pane .label{
	-fx-font-size: 14;
	-fx-font-weight: 500;
}

.dialog-pane:header .header-panel .label{
	-fx-font-size: 16;
	-fx-font-weight: 700;
}

.dialog-pane .button{
	-fx-font-size: 14;
	-fx-pref-height: 25;
	-fx-pref-width: 70;
}

.tab-header-area .tab-header-background {
 	-fx-background-color: -black-5;
 	-fx-border-color: -white-2;
	-fx-border-width: 1 0; 
}

.tab-header-area {
	-fx-padding: 0;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}

.tab-pane {
	-fx-tab-min-width: 100px;
	-fx-tab-min-height: 30px;
	-fx-tab-max-height: 30px;
}

.tab {
	-fx-background-color: -black-3;
	-fx-opacity: 0.8;
	-fx-border-color: -white-2;
	-fx-border-width: 1 1 1 1;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}

.tab .tab-label {
	-fx-text-fill: -white-3;
	-fx-font-weight: 700;
}

.tab:selected {
	-fx-background-color: -white-2;
	-fx-opacity: 1;
	-fx-border-color: -black-2;
	-fx-pref-width: 150;
	-fx-padding: 0 0 0 20;
}

.tab:selected .tab-label {
	-fx-text-fill: -black-2;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
 	-fx-border-width: 0;
	-fx-border-insets: 0 0 0 0;
	-fx-border-radius: 0;
}

.scroll-pane {
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10 0 0 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.choice-box, .date-picker{
	-fx-padding: 0;
	-fx-background-insets: none;
	-fx-background-color: -white-2;
	-fx-background-radius: 1;
	-fx-border-width: 1;
	-fx-border-color: -white-3;
	-fx-border-radius: 1;
}

.choice-box {
	-fx-background-color: -black-4;
}

.choice-box .context-menu{
	-fx-background-color: -black-4;
}

.choice-box .menu-item:focused{
	-fx-background-color: -black-2;
}

.choice-box .arrow-button .arrow {
	-fx-text-fill: -white-1;
}

.date-picker .arrow-button{
	-fx-background-color: -white-2;
	-fx-background-insets: none;
	-fx-background-radius: 0;
}

.date-picker .date-picker-display-node{
	-fx-background-radius: 0;
}

.date-picker-popup .month-year-pane{
	-fx-background-color: -black-3;
}

.date-picker-popup .month-year-pane .button{
	-fx-pref-width: 50;
	-fx-pref-height: 30;
}



.menu-button {
	-fx-background-color: -black-4;
	-fx-border-width: 1;
	-fx-border-color: -white-2;
}

.menu-button .arrow {
	-fx-background-color: -white-1;
}

.menu-button .label {
	-fx-font-size: 12;
}

.context-menu {
	-fx-padding: 0;
}

.menu-item {
	-fx-background-color: -black-4;
	-fx-border-width: 1;
	-fx-border-color: -white-2;
}

.menu-item:focused {
	-fx-background-color: -black-2;
}

.menu-item .label {
	-fx-font-size: 12;
}

.bottom{
	-fx-background-color: -black-5;
	-fx-border-width: 1 0 0 0;
	-fx-border-color: -white-2;
	-fx-pref-height: 80;
}

.top{
	-fx-background-color: -black-3;
}

.left{
	-fx-background-color: -black-2;
}

.center{
	-fx-background-color: -black-5;
}

.title{
	-fx-font-size: 40;
}

.notice, .normal-text{
	-fx-font-size: 14;
	-fx-font-weight: 500;
	-fx-text-fill: -red-1;
}

.normal-text{
	-fx-text-fill: -white-1;
}

.notice-green{
	-fx-text-fill: -green-1;
}

.inputfield-error{ 
	-fx-border-color: -red-1;
}

.search {
	-fx-background-color: -black-3;
	-fx-border-width: 1 0;
	-fx-border-color: -white-2;
}

.search .search-input {
	-fx-pref-height: 25;
	-fx-pref-width: 300;
}

.search .button {
	-fx-border-color: -white-2;
}

.search .button:hover {
	-fx-background-color: -black-1;
}

.search-icon, .search-icon:hover{
	-fx-background-color: transparent;
	-fx-padding: 5 3;
	-fx-border-width: 0;
	-fx-font-size: 12;
	-fx-text-fill: -black-5;
}

.search-icon:hover{
	-fx-text-fill: -black-2;
}

.side-bar .button{
	-fx-background-radius: 0 5 5 0;
	-fx-opacity: 0.8;
	-fx-border-radius: 0 5 5 0;
	-fx-pref-width: 150;
	-fx-pref-height: 50;
	-fx-font-size: 16;
}

.side-bar .button:hover{
	-fx-opacity: 1;
}

.side-bar .button.active{
	-fx-background-color: -white-2;
	-fx-opacity: 1;
	-fx-text-fill: -black-2;
}

.sub-table-view .label, .sub-table-view .table-cell{
	-fx-font-size: 12;
}

.sub-table-view .column-header{
	-fx-pref-height: 30;
}

.sub-stage .title{
	-fx-font-size: 28;
}

.sub-stage .text-field, .sub-stage .radio-button{
	-fx-font-size: 12;
}

.sub-stage .button{
	-fx-font-size: 10;
	-fx-pref-height: 35;
	-fx-pref-width: 100;
}

.sub-stage .search-icon{
	-fx-font-size: 8;
}

.sub-stage .bottom{
	-fx-pref-height: 60;
}